body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #ddd;
  text-align: center;
  line-height: 2;
}

main {
  margin: 50px auto;
  max-width: 800px;   
}

h1,
h2 {
  background-color: rgb(187, 187, 187);
  font-family: Cambria, Times, serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h1 {
  color: #184a86;
  font-size: 24px; 
  word-spacing: 1.5em;
}

h2 {
  color: rgb(100, 0, 0);
  font-size: 18px;
}

ul {
}
dl {
}

span {
  font-weight: bold;
  font-style: italic;
}
.img-link {
  width: 20px;
  height: 20px;
}

footer {
  background-color: #1F497D;
  color: #ddd;
  font-size: 24px; 
  text-align: center;
  text-transform: uppercase;
}

